   <form method="get" action="/quizes">
      Búsqueda: 
      <input type="text" name="search" placeholder="Texto a buscar" 
         <% if (search!=undefined) { %>
            value="<%= search %>"
         <% } %>"
         ></input>
         
         
      <input type="submit" value="Buscar" />
      <p></p><p></p>
   

    <table>
      <% var i; for (i=0; i < quizes.length; i++) { %>        
        <tr>
          <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        </tr> 
      <% } %>
    </table>
    <p/>
</form>